* {
    box-sizing: border-box;
  }

  .body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .header {
    display: block;
    background-color: #a388ad;
    font-family: Montserrat;
    font-size: 24px;
  }

  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }

  .nav-link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    color: #ffffff;
    background-color: #a388ad;
    transition: .3s;
    cursor: pointer;
  }
  
  .main {
    font-family: Montserrat;
  }

  .footer {
    display: block;
    background-color: #a388ad;
    padding: 20px;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    color: #fff;
}

  .container {
    max-width: 1440px;
    margin: 0 auto;
  }

  html {
    scroll-behavior: smooth; 
  }

  .section-item a {
    color: #829985;
    text-decoration: none;  
    transition: color 0.5s;
  }
  .section-item a:hover {
    color: #4d2323;
  }

  .section-item {
    position: relative;
    padding-left: 30px;
    list-style-type: none;
  }
  
  .section-item::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 0px;
    width: 6px;
    height: 6px; 
    border: 1px solid #8a5b86;
    border-radius: 50%;
  }

  .main-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .section {
    width: calc(50% - 20px);
    padding: 10px;
    padding-bottom: 25px;
    border-bottom: 1px solid #4e404f;
  }

  .section-projects {
    border-bottom: 0;
  }

  @media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }

  @media (max-width: 1440px) {
  .container {
    padding: 0 20px;
}
  }

  .section-title {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #e0c0e3;
  }

  .link {
    text-decoration: none;
    transition: color 0.5s;
  }
  
  .link:hover {
    color: #b475ab;
  }

  .rss {
    width: 121px;
    height: 45px;
    background-image: url(./assets/rss.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }
